.assignmentPicBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: larger;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.assignment_profile {
    font-size: larger;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.assignmentListHeading {
    margin-top: 10px;
    margin-bottom: none;
}

.buttonList {
    margin-top: 10px;
}

.insteadOfNav {
    margin-top: 20px;
}