.profileEditButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.editProfileForm {
    background-color: #f8efeb;
}

.insteadOfNav {
    margin-top: 20px;
}