.borderBox {
    background-color: #d69c86;
    padding: 4px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.avatarBox {
    border-radius: 30px;
    border: 5px solid #d69c86;
}

.bigSection {
    text-align: center;
}

.insteadOfNav {
    margin-top: 20px;
}