.headBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bodySection {
    padding: 10px;
}

.formButton {
    margin-top: 20px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.formSection {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 5px solid #623A2C;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #f8efeb;
}

.centerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessonSubmit {
    margin-top: 10px;
}

.decideBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d69c86;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.listLessons {
    margin: 10px;
    background-color: #e4bdaf;
    border-radius: 30px;
    padding: 10px;
}

.insteadOfNav {
    margin-top: 20px;
}