.backgroundSection {
    background-image: url("../images/MorePiano.jpg");
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 385px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeText {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 10px;
}