.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.logoTitleLink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.navTitle {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navDropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}