.container--login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.linkRegister1 {
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
    font-size: small;
}

.linkRegister2 {
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
    font-size: small;
}

.signInButton {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 45px;
}

.registerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 330px;
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 180px;
}


.mainSection {
    display: flex;
    flex-direction: row;
}

.picLoginBox {
    margin: none;
}

.registerButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectSection {
    font-size: smaller;
    margin-top: 10px;
}

.selectHeading {
    margin-right: 10px;
}

.registerHeading {
    font-weight: 900;
    font-size: large;
    margin-bottom: 10px;
}

.loginHeader {
    font-weight: 900;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 20px;
}

.setBackground {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
}